.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 300px;
}

.sidenav .mat-toolbar {
  background: #003DA5;
  color: white;
}

.mat-toolbar {
  position: relative;
  z-index: 1;
}

.spacer {
  flex: 1 1 auto;
}

.content {
  height: calc(100vh - 64px);
  overflow: hidden;
}

.mat-toolbar {
  background: #003DA5;
  color: white;
}
