<div class="app-container">
  <mat-sidenav-container class="sidenav-container" [hasBackdrop]="isMobile()">

    <mat-sidenav
      #routesDrawer
      [mode]="isMobile() ? 'over' : 'side'"
      [opened]="!isMobile() && routesPanelVisible"
      position="start"
      class="routes-sidenav">
      <app-routes></app-routes>
    </mat-sidenav>

    <mat-sidenav
      #vehicleDrawer
      [mode]="isMobile() ? 'over' : 'side'"
      [opened]="!isMobile() && !!selectedRoute"
      position="end"
      class="vehicle-sidenav">
      @if (selectedRoute || isMobile()) {
        <app-vehicle-list></app-vehicle-list>
      }
    </mat-sidenav>

    <mat-sidenav-content class="main-content">
      <mat-toolbar color="primary">
        <button
          type="button"
          [attr.aria-label]="isMobile() ? 'Open routes menu' : (routesPanelVisible ? 'Close routes panel' : 'Open routes panel')"
          mat-icon-button
          (click)="toggleRoutesPanel()">
          <mat-icon>{{isMobile() ? 'menu' : (routesPanelVisible ? 'chevron_left' : 'chevron_right')}}</mat-icon>
        </button>
        <img src="assets/favicon.png" alt="MBTA Logo" class="toolbar-favicon">
        <span class="toolbar-title">{{title}}</span>
        <span class="spacer"></span>
        @if (isMobile() && selectedRoute) {
          <button
            type="button"
            aria-label="Toggle vehicle list"
            mat-icon-button
            (click)="toggleVehiclePanel()">
            <mat-icon>directions_bus</mat-icon>
          </button>
        }
        <button
          type="button"
          aria-label="Reset to initial state"
          mat-icon-button
          (click)="resetToInitialState()"
          title="Reset to initial state">
          <mat-icon>refresh</mat-icon>
        </button>
      </mat-toolbar>

      <div class="content">
        <app-map></app-map>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>

  @if (dialogData) {
    <app-vehicle-completion-dialog
      [vehicleId]="dialogData.vehicleId"
      [routeId]="dialogData.routeId"
      [completedNormally]="dialogData.completedNormally"
      [finalArrivalTime]="dialogData.finalArrivalTime"
      [lastUpdateTime]="dialogData.lastUpdateTime"
      (closed)="onDialogClose()">
    </app-vehicle-completion-dialog>
  }
</div>
