*.class
*.log
*~
build/
.gradle/
.#*
*#
.bloop/
.vscode/
.metals/

# Angular
frontend/dist/
frontend/.angular/
frontend/node_modules/

# Deployment
local.properties
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
