<mat-card *ngIf="selectedVehicle" class="vehicle-info-card">
  <mat-card-header>
    <mat-card-title>Vehicle {{selectedVehicle.vehicleId}}</mat-card-title>
    <mat-card-subtitle>Route {{selectedVehicle.routeId}}</mat-card-subtitle>
  </mat-card-header>
  
  <mat-card-content>
    <div class="vehicle-details">
      <div class="detail-row">
        <mat-icon>directions</mat-icon>
        <span>{{selectedVehicle.direction}}</span>
      </div>
      
      <div class="detail-row">
        <mat-icon>place</mat-icon>
        <span>{{selectedVehicle.destination}}</span>
      </div>
      
      <div class="detail-row" *ngIf="!isBus(selectedVehicle)">
        <mat-icon>speed</mat-icon>
        <span>{{formatSpeed(selectedVehicle.speed)}}</span>
      </div>
      
      <div class="detail-row" *ngIf="isBus(selectedVehicle)">
        <mat-icon>directions_bus</mat-icon>
        <span>{{selectedVehicle.vehicleId}}</span>
      </div>
      
      <div class="detail-row">
        <mat-icon>info</mat-icon>
        <span>{{formatStatus(selectedVehicle.currentStatus, selectedVehicle.stopName)}}</span>
      </div>
      
      <div class="detail-row">
        <mat-icon>schedule</mat-icon>
        <span>{{formatTime(selectedVehicle.updatedAt)}}</span>
      </div>
    </div>
  </mat-card-content>
  
  <mat-card-actions>
    <button mat-button (click)="closeInfo()">
      <mat-icon>close</mat-icon>
      Close
    </button>
  </mat-card-actions>
</mat-card>
